/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'metrisch-extrabold';
  src: url('../fonts/metrisch/Metrisch-ExtraBold.eot');
  src: url('../fonts/metrisch/Metrisch-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/metrisch/Metrisch-ExtraBold.woff2') format('woff2'),
    url('../fonts/metrisch/Metrisch-ExtraBold.woff') format('woff'),
    url('../fonts/metrisch/Metrisch-ExtraBold.ttf') format('truetype'),
    url('../fonts/metrisch/Metrisch-ExtraBold.svg#Metrisch-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'metrisch-bold';
  src: url('../fonts/metrisch/Metrisch-Bold.eot');
  src: url('../fonts/metrisch/Metrisch-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/metrisch/Metrisch-Bold.woff2') format('woff2'),
    url('../fonts/metrisch/Metrisch-Bold.woff') format('woff'),
    url('../fonts/metrisch/Metrisch-Bold.ttf') format('truetype'),
    url('../fonts/metrisch/Metrisch-Bold.svg#Metrisch-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'metrisch-book';
  src: url('../fonts/metrisch/Metrisch-Book.eot');
  src: url('../fonts/metrisch/Metrisch-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/metrisch/Metrisch-Book.woff2') format('woff2'),
    url('../fonts/metrisch/Metrisch-Book.woff') format('woff'),
    url('../fonts/metrisch/Metrisch-Book.ttf') format('truetype'),
    url('../fonts/metrisch/Metrisch-Book.svg#Metrisch-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  height: 100%;
}

body {
  background-color: #FF4858;
  overflow: hidden;
  margin: 0;
  font-family: 'metrisch-extrabold';
}

#intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #FFF;
  margin-top: 20px;
  font-weight: bold;
}

#intro_text {
  color: #FFF;
  border-radius: 25px;
  padding: 20px;
  justify-self: center;
  align-self: center;
  width: 60%;
  margin: 20px;
}

#btn_empezar_juego {
  border: none;
  background-color: #eddd00;
  color: #FFF;
  padding: 20px;
  font-weight: 900;
  border-radius: 25px;
  width: 100%;
}

#configuracion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  margin-top: 20px;
  font-weight: bold;
}

#head-Instrucciones {
  display: flex;
  height: max-content;
  width: 60%;
  justify-content: space-between;
}

#head-Instrucciones h1 {
  align-self: end;
}

#seleccionJuagadores {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 15px;
}

#seleccion_competidor {
  color: #262626;
  display: flex;
  margin: 15px 0 15px 0;
}

#seleccion {
  display: flex;
  flex-direction: row-reverse;
}

select::after {
  background-color: #eddd00;
}

#seleccion select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


#seleccion select::-ms-expand {
  display: none;
}

#seleccion select::after {
  background-color: #eddd00;
}

#seleccion_competidor {
  width: 100%;
  position: relative;
}

#seleccion select {
  width: 100%;
  cursor: pointer;
  padding: 15px 15px 15px 25px;
  height: fit-content;
  border: 0;
  background: #FFF;
  border-radius: 25px;
  font-weight: 900;
  text-align: center;
}


#flecha {
  width: 5%;
  border-radius: 25px;
  transition: all 0.25s ease;
  background-color: #eddd00;
  display: flex;
  align-content: center;
  justify-content: center;
  height: fit-content;
  padding: 15px 15px 15px 25px;
  position: absolute;
  align-self: center;
}

#flecha i {
  border-style: solid;
  border-width: 15px;
  border-bottom-width: 0px;
  border-color: #603CE6 transparent transparent transparent;
  justify-self: center;
  align-self: center;
}

#seleccionJuagadores button {
  background-color: #eddd00;
  border-radius: 25px;
  border: 0;
  height: 42px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

#prehome {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 50px;
  color: #eddd00;
}

#prehome img {
  /*margin-top: 10%;*/
}

#carrera {
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: block;
  height: 130px;
}

.track {
  position: relative;
  width: 100%;
}

.bonus {
  margin-right: 10px;
  margin-top: 10px;
}

.opacidad {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}

.ocultar {
  display: none !important;
}

.carga {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Inicio Loader*/
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

/*Fin Loader*/

#prehome {
  font-family: metrisch-extrabold;
  text-transform: uppercase;
  color: white;
}

#prehome img {
  margin: 40px 0 40px;
}

.fondo {
  background-repeat: repeat-x;
  background-size: contain;
  height: 140px;
  margin: 5px;
}

.fondo_0 {
  background-image: url(../img/00_fondo.png);
}

.fondo_1 {
  background-image: url(../img/01_fondo.png);
}

.fondo_2 {
  background-image: url(../img/02_fondo.png);
}

.fondo_3 {
  background-image: url(../img/03_fondo.png);
}

.fondo_4 {
  background-image: url(../img/04_fondo.png);
}

.fondo_5 {
  background-image: url(../img/05_fondo.png);
}

.fondo_6 {
  background-image: url(../img/06_fondo.png);
}



.deshabilitado {
  display: none;
  /*opacity: 50%;*/
}

#top {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(../img/TOP_10.png);
}

#top h1 {
  color: #FFF;
  font-weight: 900;
}

table {
  border-collapse: collapse;
  border: none;
  width: 90%;
  background-color: #eddd00;
}

th {
  text-align: center;
  padding: 8px;
  font-weight: 900;
  color: #FFF;
  background-color: #603CE6;
}

td {
  text-align: center;
  font-weight: 900;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #FFF;
}

@media only screen and (max-width: 1200px) {
  #seleccionJuagadores {
    width: 70%;
    transition: 1s;
  }
}

@media only screen and (max-width: 990px) {
  table {
    width: 70%;
  }

  #seleccionJuagadores {
    width: 80%;
    transition: 1s;
  }

  #head-Instrucciones {
    width: 80%;
    transition: 1s;
  }
}

@media only screen and (max-width: 560px) {
  #seleccionJuagadores {
    width: 90%;
    transition: 1s;
  }

  body {
    overflow: scroll;
  }

  #head-Instrucciones {
    width: 90%;
    transition: 1s;
  }

  #head-Instrucciones img {
    height: 10%;
    transition: 1s;
  }

}

@media only screen and (max-width: 361px) {
  #seleccion select {
    font-size: 10px;
    transition: 1s;
    padding-right: 50px;
  }

}


#isotipo {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}

/* -------------------------------------------- */

.popup {
  background: #FF4858;/*rgba(96, 60, 230, .92);*/
  background-image: url(https://res.cloudinary.com/dpwnji5mr/image/upload/v1665620305/ejemplo/girnalda_fiesta_urtlz3.png), url(https://res.cloudinary.com/dpwnji5mr/image/upload/v1665620305/ejemplo/aleluya_2_jhyulx.png), url(https://res.cloudinary.com/dpwnji5mr/image/upload/v1665620305/ejemplo/aleluya_1_vwllhl.png);
  background-repeat: no-repeat;
  background-position-x: center, 15%, 90%;
  background-position-y: 0px, 25%, 95%;
}

.texto_tabla {
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 40px;
}

.tabla_posiciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  margin-top: 250px;
}

.titulo_tabla {
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 20px;
  font-size: 70px;
}

.columna1_tabla {
  grid-area: 2 / 1 / 3 / 2;
}

.columna2_tabla {
  grid-area: 2 / 2 / 3 / 3;
}

.fila_amarilla {
  background: #72F2EB;
}

.fila_blanca {
  background: white;
}

.posicion {
  color: #262626;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  font-family: sans-serif;
  font-size: 30px;
  padding-left: 120px;
  padding-right: 200px;
}

.tabla_item_1 {
  grid-area: 3 / 1 / 4 / 3;
}

.tabla_item_2 {
  grid-area: 4 / 1 / 5 / 3;
}

.tabla_item_3 {
  grid-area: 5 / 1 / 6 / 3;
}

.tabla_item_4 {
  grid-area: 6 / 1 / 7 / 3;
}

.tabla_item_5 {
  grid-area: 7 / 1 / 8 / 3;
}

.tabla_item_6 {
  grid-area: 8 / 1 / 9 / 3;
}

.tabla_item_7 {
  grid-area: 9 / 1 / 10 / 3;
}

.tabla_item_8 {
  grid-area: 10 / 1 / 11 / 3;
}

.tabla_item_9 {
  grid-area: 11 / 1 / 12 / 3;
}

.tabla_item_10 {
  grid-area: 12 / 1 / 13 / 3;
}

#closeBtn {
  background: url(../img/close_icon.png) no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 100;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}